.container {
    margin: 0 auto;
    width: 300px;
}

.crossDeleter {
    display: block;
    width: 15px;
    height: 15px;
    background-image: url(images/close.svg);
    background-repeat: no-repeat;
    background-size: 15px;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;
}

li>span {
    cursor: pointer;
}